body {
    background-image: url('modi2.jpg');
    background-size: cover;
    background-position: center;
    
}

.container {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter: blur(5px);
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(176, 24, 49);
    text-align: center;
}
h2 {
    text-decoration-color: rgb(176, 24, 49);
    color:#000;
}

p {
    margin-bottom: 20px;
}

.card {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}